/* Styles to reduce layout thrashing */

.sptcl-js-fade-length {
    opacity: 0.25 !important;
    transition: opacity 160ms ease;
}

.sptcl-js-hide-length {
    display: none !important;
}

.sptcl-js-fade-views {
    opacity: 0.25 !important;
    transition: opacity 160ms ease;
}

.sptcl-js-hide-views {
    display: none !important;
}

.sptcl-js-hide-shorts {
    display: none !important;
}

.sptcl-js-hide-watched {
    display: none !important;
}

.sptcl-js-hide-expandable {
    display: none !important;
}

/* Priority helpers in case YouTube uses inline styles */
.sptcl-js-hide-length *,
.sptcl-js-hide-views *,
.sptcl-js-hide-shorts *,
.sptcl-js-hide-expandable *,
.sptcl-js-hide-watched * {
    visibility: hidden !important;
}
