/* Category Dropdown */

.sptcl-js-category-select {
    display: inline-block;
    position: relative;
    margin: 0px 0px 8px 8px;
    padding: 0px 32px 0px 16px;
    height: 36px;
    cursor: pointer;
    appearance: none;
    background-color: var(--yt-spec-badge-chip-background, var(--yt-spec-additive-background, #f2f2f2));
    background-image: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill='currentColor' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    border-radius: 18px;
    border: 1px solid var(--yt-spec-10-percent-layer, rgba(0, 0, 0, 0.12));
    color: var(--yt-spec-text-primary, #0f0f0f);
    -webkit-text-fill-color: var(--yt-spec-text-primary, #0f0f0f);
    color-scheme: light dark;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.sptcl-js-category-select:active,
.sptcl-js-category-select:hover {
    background-color: var(--yt-spec-badge-chip-background-hover, var(--yt-spec-button-chip-background-hover));
}

.sptcl-js-category-select option,
.sptcl-js-category-select option:hover {
    background-color: var(--yt-spec-base-background, #ffffff);
    color: var(--yt-spec-text-primary, #0f0f0f);
}

/* Category Filter Buttons */

.sptcl-js-channel-filter-container,
.sptcl-js-subscription-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 16px;
    padding: 0;
}

.sptcl-js-filter-button {
    display: inline-block;
    position: relative;
    margin: 0px calc(16px / 4);
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--yt-spec-additive-background);
    border-radius: 8px;
    border: none;
    color: var(--yt-spec-inverted-background);
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.sptcl-js-filter-button[data-active] {
    background-color: var(--yt-spec-static-brand-red);
    color: var(--yt-spec-base-background);
}

/* Styles to reduce layout thrashing */

.sptcl-js-hide-filtered {
    display: none !important;
}
.sptcl-js-hide-filtered * {
    visibility: hidden !important;
}
